.table {
    display: grid;
    grid-template-columns: 1fr 15.25rem;
    width: 100%;
    background-color: #FFF7FF;
  
    .cell {
      padding: 0.5rem 1.5rem;
      min-width: 0;
      overflow-wrap: break-word;
      text-align: left;
      border-bottom: 0.0625rem solid #E0E0E0;
  
      &.value {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        box-sizing: border-box;
      }
  
      &.full-width {
        grid-column: 1 / -1;
        padding-top: 0.75rem;
      }
    }
  
    .cell:last-child {
      border-bottom: none;
      text-align: right;
    }

    .pen-button {
        background: none;
        border: none;
        cursor: pointer;
    }
  }
  